form {
    input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        outline: none;
        border-radius: 0.25rem;
        background-color: var(--color-dark);
        border: 1px solid var(--color-border);
        padding: 0.75rem 0.75rem;
        transition: border-color 0.3s cubic-bezier(0.2, 0, 0.2, 1);
        width: 100%;

        &:focus {
            border-color: var(--color-primary);
        }

        &::placeholder {
            color: var(--color-body);
            opacity: 0.5;
        }
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(90%);
    }

    /* Fix Chrome autofill turning dark fields white */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #111827 inset !important; /* your background color */
        -webkit-text-fill-color: #fff !important; /* text color */
        transition: background-color 5000s ease-in-out 0s !important; /* prevents flash */
    }

    label {
        color: #e5e7e8;
        font-weight: 500;
        font-size: 14px;
        .required {
            color: #fb7185;
        }
    }

    .error {
        display: flex;
        align-items: flex-end;
        line-height: 16px;
        gap: 4px;
        color: #fb7185;
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;
    }
}
