html {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 14px;
}
