html {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 14px;
}

/* .hidden-grid-panel {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s cubic-bezier(0.2, 0, 0.2, 1);

    > * {
        opacity: 0;
        transition: opacity 0.2s 0.1s linear;
    }

    &.is-active {
        grid-template-rows: 1fr;

        > * {
            opacity: 1;
        }
    }
} */

/* .card {
    .card__header {
        position: absolute;
        top: -3.75rem;
        left: calc(50% - 3.75rem);
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-secondary);

        &.card__header--interactive {
            cursor: pointer;
            transition: filter 0.3s cubic-bezier(0.2, 0, 0.2, 1);

            &:hover {
                filter: brightness(0.93);
            }
        }
    }
} */
