@import 'tailwindcss';

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 96rem;
    --breakpoint-3xl: 120rem;

    /* Colors */
    --color-primary: var(--color-primary);
    --color-body: var(--color-body);
    --color-secondary: var(--color-secondary);
    --color-background: var(--color-background);
    --color-border: var(--color-border);
    --color-dark: var(--color-dark);
    --color-heading: var(--color-heading);
    --color-error: var(--color-error);

    /* Animations */
    --animate-slide-up: slide-up 0.45s cubic-bezier(0.2, 0, 0.2, 1) forwards;

    /* Shadows */
    /* --shadow-sm: 2px 2px 3px rgba(0, 0, 0, 0.03); */

    @keyframes slide-up {
        from {
            transform: translateY(15px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility container {
    padding: 0 2rem;
    max-width: var(--container-width);
    margin: 0 auto;
}
