.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    border-radius: 0.25rem;
    color: var(--color-light);
    background-color: var(--color-primary);
    padding: 0 1.75rem;
    color: #f9fafb;
    font-size: 1.125rem;
    font-weight: 600;
    transition: background-color 0.3s cubic-bezier(0.2, 0, 0.2, 1);
    white-space: nowrap;
    border: 1px solid transparent;

    &:hover {
        cursor: pointer;
        background-color: #a855f7;
    }

    &.btn--disabled {
        opacity: 0.5;
    }

    &.btn--outline {
        background-color: transparent;
        border: 1px solid #f9fafb;

        &:hover {
            border-color: var(--color-light);
        }
    }

    &.btn--small {
        border: 1px solid var(--color-border);
        padding: 0.25rem 0.625rem;
        background-color: transparent;
        height: 2.125rem;

        &:hover {
            border-color: var(--color-light);
        }

        &.is-active {
            background-color: var(--color-primary);
        }
    }
}
