.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    border-radius: 0.25rem;
    color: var(--color-light);
    background-color: var(--color-primary);
    padding: 0 1.75rem;
    color: #f9fafb;
    font-size: 1.125rem;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.2, 0, 0.2, 1);
    white-space: nowrap;
    border: 1px solid transparent;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);

    svg {
        transition: filter 0.3s cubic-bezier(0.2, 0, 0.2, 1);
    }

    &:hover {
        cursor: pointer;
        background-color: #a855f7;
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.btn--outline {
        background-color: transparent;
        border: 1px solid #f9fafb;

        &:hover {
            border-color: var(--color-light);
        }
    }

    &.btn--secondary {
        background-color: var(--color-secondary);
        color: var(--color-background);

        &:hover {
            background-color: var(--color-dark);
            color: var(--color-heading);
            border: 1px solid var(--color-heading);

            svg {
                filter: invert(100%);
            }
        }
    }

    &.btn--transparent {
        background-color: transparent;

        &:hover {
            background-color: #a855f7;
        }
        &.is-active {
            background-color: var(--color-primary);
        }
    }

    &.btn--small {
        border: 1px solid var(--color-border);
        padding: 0 0.625rem;
        height: 2rem;

        font-size: 0.875rem;
        line-height: 0.9;
    }
}
