.card {
}

.card-gradient {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid var(--color-border) !important;

    &.card-gradient.card-gradient--preview {
        &:hover {
            .card-gradient__overlay {
                visibility: visible;
                opacity: 0.3;
            }
        }
    }

    &.no-animation {
        .card-gradient__bg {
            animation: none;
        }
    }

    .card-gradient__bg {
        position: absolute;
        inset: 0;
        background-image: url("/images/card-bg.png");
        background-repeat: repeat;
        background-size: cover;
        background-size: 160%;
        background-position: 70% 10%;
        animation: moveBg 60s cubic-bezier(0.98, 0, 0, 1) infinite alternate;
    }

    .card-gradient__blur {
        position: absolute;
        inset: 0;
        background-color: rgba(17, 24, 39, 0.4);
        filter: blur(28px);
        -webkit-filter: blur(28px);
    }

    .card-gradient__overlay {
        position: absolute;
        inset: 0;
        background-color: #111827;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.3s cubic-bezier(0.2, 0, 0.2, 1);
    }

    .label {
        opacity: 0.5;
        font-size: 14px;
        color: var(--color-heading);
    }

    .value {
        font-size: 14px;
        letter-spacing: 4px;
        font-weight: 500;
    }

    perspective: 1000px;
    transform-origin: center;
    backface-visibility: hidden;

    &.isFlipping {
        animation: flip3d 0.3s cubic-bezier(0.2, 0, 0.2, 1);
    }
}

@keyframes flip3d {
    0% {
        transform: rotateY(0);
        opacity: 1;
    }
    50% {
        transform: rotateY(60deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes moveBg {
    to {
        transform: rotate(-360deg) scale(-1);
    }
}
